@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100vh;
  background: hsl(235, 18%, 26%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: absolute;
  width: 50vw;
  border-radius: 18px;
  background-color: white;
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  padding: 2vw 0.5vw;
}
@media (max-width: 375px) {
  .card {
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
}
.card .left {
  padding: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-around;
}
.card .left ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card .left ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.card .left form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card .left form label {
  font-size: 0.9rem;
  font-weight: 600;
}
.card .left form input {
  outline: none;
  border: 2px solid rgba(146, 148, 160, 0.5);
  border-radius: 5px;
  padding: 1rem;
  color: hsl(234, 29%, 20%);
  transition: all 0.5s ease-in-out;
}
.card .left form input:focus {
  border: 2px solid hsl(235, 18%, 26%);
  color: hsl(235, 18%, 26%);
}
.card .left form input::-moz-placeholder {
  color: hsl(231, 7%, 60%);
  opacity: 0.5;
}
.card .left form input::placeholder {
  color: hsl(231, 7%, 60%);
  opacity: 0.5;
}
.card .right {
  display: flex;
  justify-content: flex-end;
}
.card .right img {
  width: 92%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 18px;
}
@media (max-width: 375px) {
  .card .right img {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .card .right img.laptop {
    display: none;
  }
}
.card .right img.mobile {
  display: none;
}
@media (max-width: 375px) {
  .card .right img.mobile {
    display: block;
  }
}
.card.hide {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.card.success {
  width: 25vw;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  padding: 2vw 20px;
}
@media (max-width: 375px) {
  .card.success {
    width: 100%;
    height: 100vh;
    justify-content: center;
  }
}
.card.success h1 {
  font-size: 2rem;
}
.card.success p {
  width: 80%;
  line-height: 1.5;
  color: hsl(234, 29%, 20%);
}
@media (max-width: 375px) {
  .card.success p {
    width: 100%;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: hsl(234, 29%, 20%);
}

button {
  width: 100%;
  background: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 0.5s ease-in-out;
}
button:hover {
  background: hsl(4, 100%, 67%);
  box-shadow: 0px 0px 10px 0px hsl(4, 100%, 67%);
}/*# sourceMappingURL=style.css.map */